	@font-face{
		font-family:"InvescoInterstateLight";
		src:url("fonts/e0c011fe-5df1-4a4a-8d3a-fee305e884eb.eot?iefix") format("eot");}
	@font-face{
		font-family:"InvescoInterstateLight";
		src:url("fonts/e0c011fe-5df1-4a4a-8d3a-fee305e884eb.eot?iefix");
		src:url("fonts/323dabff-7b1b-4885-90e0-73ca0042d826.woff") format("woff"),
			url("fonts/cd51c674-edee-4606-84be-859e1ababa1b.ttf") format("truetype"),
			url("fonts/a1bd068e-af2a-4546-bd1f-b6403293bef4.svg#a1bd068e-af2a-4546-bd1f-b6403293bef4") format("svg");
	}
	@font-face{
		font-family:"InvescoInterstateBold";
		src:url("fonts/61b684b6-52dd-4cda-a9af-09cf72b255ba.eot?iefix") format("eot");}
	@font-face{
		font-family:"InvescoInterstateBold";
		src:url("fonts/61b684b6-52dd-4cda-a9af-09cf72b255ba.eot?iefix");
		src:url("fonts/6cd70497-5338-43d7-a5b0-854f3ff84528.woff") format("woff"),
			url("fonts/278c7ca3-c826-4001-a97b-ea4c5d4dc909.ttf") format("truetype"),
			url("fonts/2233b240-0a72-4c03-a05d-3616328859a3.svg#2233b240-0a72-4c03-a05d-3616328859a3") format("svg");
	}
	body{
		
		background: #173094; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MzA5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNmEzZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #173094 0%, #26a3f5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#173094), color-stop(100%,#26a3f5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #173094 0%,#26a3f5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #173094 0%,#26a3f5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #173094 0%,#26a3f5 100%); /* IE10+ */
		background: linear-gradient(to right,  #173094 0%,#26a3f5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173094', endColorstr='#26a3f5',GradientType=1 ); /* IE6-8 */
		
			 
	
		margin: 5% 25%;
		font-family: InvescoInterstateLight;
		color: #000;
}

#topContainer h1, h2 {
	color: #fff;
	margin: 0;
	font-family: InvescoInterstateLight,Verdana, Geneva, sans-serif;
}
#topContainer h1{font-size:2em; line-height: 1.2em;}
#topContainer h2{font-size: 1.2em;}
#topContainer .logo{
	float: left;
	margin-right: 5%;}
#mainContainer{    
    background: #fff;
    margin: 10px 0;
    float: left;
    width: 100%;
	font-family: InvescoInterstateLight,Verdana, Geneva, sans-serif;
}
#tdContent{
	padding: 10px;
}
.clear{clear:both;}
#bottomContainer{
    /*  */
    width: 60%;
    float: left;
	font-family: InvescoInterstateLight,Verdana, Geneva, sans-serif;
    
}
#contentContainer p{margin: 10px 0; font: normal 12px/12px InvescoInterstateLight,Verdana, Geneva, sans-serif;}
#contentContainer div a:after{content:'\2023'; float: right; font-size: 16px;line-height: 18px;}
#contentContainer .employee{
    float: left;
    width: 40%;
}
#contentContainer .button{
	clear: both;
	background-color: #26a3f5;
	color: #FFF;
	display: block;	
	text-align: left;
	margin: 1px 15px 1px 1px;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: 900;
	font: 900 14px/14px InvescoInterstateLight,Verdana, Geneva, sans-serif;
}
#contentContainer .guest{
    float: left;
    width: 40%;
}
#contentContainer .guest .button{}
table}{width: 100%;}
tr{text-align: left;width: 100%;border-collapse: collapse;}
#bottomContainer .footer-text {
	background: #fff;
	padding: 10px;
	font: normal 12px/12px InvescoInterstateLight,Verdana, Geneva, sans-serif;
	float: left;
}
#bottomContainer h2{color: #000; font: 900 1.8em/1.4em InvescoInterstateLight,Verdana, Geneva, sans-serif;}
#bottomContainer p{font: normal 12px/16px InvescoInterstateLight,Verdana, Geneva, sans-serif;}
.copyright{color: #fff; font: normal .8em/1em InvescoInterstateLight,Verdana, Geneva, sans-serif;margin: 10px 0;position: relative;float: left;}
table.contact{width: 100%;
position: relative;
float: left;}
table.contact th, table.contact td{border-top: 1px solid #EBEBEB; padding: 5px;}
table.contact th{vertical-align:top;width: 40%;}
table.contact td a{color: #26a3f5;text-decoration: none;}

@media screen and (min-width: 950px) {
	body{margin: 5% 25%;}
}
@media screen and (min-width: 685px) and (max-width: 949px) {
	body{
		margin: 5% 15%;
	}
}
@media screen and (min-width: 511px) and (max-width: 684px) {
	body{
		margin: 5% 1%;
	}
}

@media only screen and (min-width : 250px) and (max-width : 510px)
{ 
	body{
		margin: 0;
	}
	#mainContainer{
		margin: 10px 0 0 0;
	}
	#contentContainer .employee, #contentContainer .guest{
		width: 100%;
	}
	#contentContainer .button{
		margin:0 0 10px 0;
		text-align: center;
	}
	#topContainer .logo{
		margin:5%;
	}
	#topContainer h1{
		font-size: 24px; margin-top: 24px; display: inline-block;
	}
	#topContainer h2{
		display: block;
	}
	#bottomContainer{
		width: 100%;		
	}
	#contentContainer div a:after{
		content: '';
	}
	#bottomContainer p{
		margin: 2%;
	}
}
	
@media only screen and (max-device-width : 510px)
{ 
	body{
		margin: 0;
	}
	#mainContainer{
		margin: 10px 0 0 0;
	}
	#contentContainer .employee, #contentContainer .guest{
		width: 100%;
	}
	#contentContainer .button{
		margin:0 0 10px 0;
		text-align: center;
	}
	#topContainer .logo{
		margin:5%;
	}
	#topContainer h1{
		font-size: 24px; margin-top: 24px; display: inline-block;
	}
	#topContainer h2{
		display: block;
	}
	#bottomContainer{
		width: 100%;		
	}
	#contentContainer div a:after{
		content: '';
	}
	#bottomContainer p{
		margin: 2%;
	}
	}